@import "tailwindcss";
@import "@heroui/styles";
@import "@repo/theme/styles.css";
@source "../../../../packages/api/src/components";
@import "@repo/theme/panel.css";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
}
